.container {
  display: flex;
  flex-direction: column;
  align-content: center;
  width: 75vw;
  margin: 0 auto;
  text-align: center;
}

button {
  width: fit-content;
  padding: .5em;
  margin: 1em auto;
}